form
{
    margin: 0;
    padding: 0;
}

legend
{
    font-size: 1.231em;
    font-weight: normal;
    margin: 0 0 1.2em 0;
    border: none;
}

fieldset
{
    padding: 0em;
    margin: 0 0 0em 0;
    border: 0px solid #dbdbdb;
}

label
{
    font-weight: normal;
    display: block;
    padding: 0 0 0.3em 0;
}

label.forcheckbox
{
    margin: 0 0 0 .4em;
    display: inline;
}

input, select, textarea 
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 1px solid #bbb;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #000;
}

input[type="text"], input[type="password"]
{
    display: block;
    padding: 0.3em;
}

input[type="checkbox"]
{
    margin: .2em 0 1.2em 0;
}

fieldset ol
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

fieldset ol li
{
    margin: 0 0 6px 0;
}
