/* Clearing Floats
***************************************************************/

.group:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.zone:after, .widget-control:after /* .zone:after self clears every zone container - .widget-control:after self clears any floats used in a widget */
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



/* General
***************************************************************/

/* Default font settings. 
The font-size 81.3% sets the base font to 13px 

Pixels     EMs         Percent Points
6px     0.462em     46.2%     5pt
7px     0.538em     53.8%     5pt
8px     0.615em     61.5%     6pt
9px     0.692em     69.2%     7pt
10px     0.769em     76.9%     8pt
11px     0.846em     84.6%     8pt
12px     0.923em     92.3%     9pt
13px     1em         100%     10pt
14px     1.077em     107.7%     11pt
15px     1.154em     115.4%     11pt
16px     1.231em     123.1%     12pt
17px     1.308em     130.8%     13pt
18px     1.385em     138.5%     14pt
19px     1.462em     146.2%     14pt
20px     1.538em     153.8%     15pt
21px     1.615em     161.5%     16pt
22px     1.692em     169.2%     17pt
23px     1.769em     176.9%     17pt
24px     1.846em     184.6%     18pt
*/

html, body
{
    height: 100%; /* for sticky footer to work */
}

body
{
    line-height: 1;
    font-size: 81.3%;
    color: #434343;
    background: #fff;
    font-family: Tahoma, "Helvetica Neue" , Arial, Helvetica, sans-serif;
}


/* Headings */
h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    margin: .6em 0;
}

h1
{
    font-size: 1.308em;
}

h2
{
    font-size: 1.231em;
}

h3
{
    font-size: 1.154em;
}

h4
{
    font-size: 1.077em;
}

h5
{
    font-size: 1em;
}

h6
{
    font-size: 1em;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
{
    margin: 0;
}


/* Aside Headings */
aside h1
{
    font-size: 1.154em;
}

aside h2
{
    font-size: 1.077em;
}

aside h3
{
    font-size: 1em;
}

aside h4
{
    font-size: 1em;
}

aside h5
{
    font-size: 1em;
}

aside h6
{
    font-size: 1em;
}


/* Lists */
li ul, li ol
{
    margin: 0 1.5em;
}

ul, ol
{
    margin: 1.5em;
    line-height: 1.538em;
}

ul
{
    list-style-type: disc;
}

ol
{
    list-style-type: decimal;
}

dl
{
    margin: 0 0 1.5em 0;
}

dl dt
{
    font-weight: bold;
}

dd
{
    margin-left: 1.5em;
}


/* Text elements */
p
{
    margin: 0 0 1em;
    line-height: 1.538em;
    text-align: justify;
}

p img.left
{
    float: left;
    margin: 0.923em 0.923em 0.923em 0;
    padding: 0;
}

p img.right
{
    float: right;
    margin: 0.923em 0 0.923em 0.923em;
}

a:focus, a:hover
{
    text-decoration: underline;
}

a
{
    color: #5f97af;
    text-decoration: none;
}

blockquote
{
    margin: 0.923em;
    color: #666;
    font-style: italic;
}

strong
{
    font-weight: bold;
}

em, dfn
{
    font-style: italic;
}

dfn
{
    font-weight: bold;
}

sup, sub
{
    line-height: 0;
}

abbr, acronym
{
    border-bottom: 1px dotted #666;
}

address
{
    margin: 0 0 0.923em;
    font-style: italic;
}

del
{
    color: #666;
}

pre
{
    margin: 0.923em 0;
    white-space: pre;
}

pre, code, tt
{
    font: 1em 'andale mono' , 'lucida console' , monospace;
    line-height: 1.462em;
}