/*
Theme: Theme Machine
Author: Orchard Team – http://www.orchardproject.net
Copyright: 2010, Orchard. All Rights Reserved

This is the main stylesheet for the theme. Its sole purpose is to give a quick and easy way in inherited themes to add custom
styling without adding addditonal stylesheets, just with overriding this file.
*/


/*  Color Palette
**************************************************************

Background: #fff
Borders: #dbdbdb
Text: #434343
Secondary Text: #999999
Main Accent: #999
Links: #5f97af
*/
